<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
    <h3><%= listType %></h3>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onchange="this.form.submit()" name = "checkbox" value = <%= newListItems[i]._id %>>
          <p><%=  newListItems[i].name  %></p>
        </div>
        <input type = "hidden" name = "listName" value=<%= listType %>>
      </form>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= listType %> >+</button>
      </form>
  </div>

<%- include("footer") -%>
